
  <div class='row  justify-content-center align-items-center'>
    <div class='col-lg-4'>
      <div class="card text-center border border-secondary border-1">
        
        <div class="card-header">
          <h4>تسجيل الدخول</h4>
        </div>

        <div class="card-body">
          <div class='form-control' >

            <%= form_for @user, url: create_new_session_path do |form| %>

              <div class='m-3'>
                <%= form.text_field :username ,required:true, placeholder:'اسم الدخول' ,class:'form-control' %>
              </div>

              <div class='m-3'>
                <%= form.password_field :password,required:true , placeholder:'كلمة المرور' ,class:'form-control' %>
              </div>

              <div class='m-3'>
                <%= form.submit 'دخول' , class: 'btn btn-primary' %>
              </div>

            <%end%>


          </div>
        </div>
      </div>
    </div>
  </div>
